<h4 class="margin-bottom">Войти в аккаунт</h4>

    {{#if errorLogin}}
        <div class="alert">
            {{errorLogin}}
        </div>
    {{/if}}

<form action="/auth/login" method="post">
    <div class="input-field">
        <input id="email" name="email" type="text" class="validate" required>
        <label for="email">e-mail</label>
        <span class="helper-text" data-error="Введите Ваш e-mail"></span>
    </div>

    <div class="input-field">
        <input id="password" name="password" type="password" class="validate" required>
        <label for="password">Пароль</label>
        <span class="helper-text" data-error="Введите Ваш пароль"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary">Войти</button>

    <a href="/auth/reset">Забыли пароль?</a>
</form>