<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Приложение курсов</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isAuth}}
                <li class="{{#if isHome}}active{{else}}{{/if}}"><a href="/">Главная</a></li>
                <li class="{{#if isCourses}}active{{else}}{{/if}}"><a href="/courses">Курсы</a></li>
                <li class="{{#if isAdd}}active{{else}}{{/if}}"><a href="/courses/add">Добавить курс</a></li>
                <li class="{{#if isCard}}active{{else}}{{/if}}"><a href="/cart">Корзина</a></li>
                <li class="{{#if isOrders}}active{{else}}{{/if}}"><a href="/orders">Заказы</a></li>
                <li class="{{#if isProfile}}active{{else}}{{/if}}"><a href="/profile">Профиль</a></li>
                <li><a href="/auth/logout">Выйти из аккаунта</a></li>
            {{else}}
                <li class="{{#if isLogin}}active{{else}}{{/if}}"><a href="/auth/login#login">Войти</a></li>
            {{/if}}
        </ul>
    </div>
</nav>