<h4 class="margin-bottom">Зарегистрироваться</h4>

{{#if errorRegister}}
    <div class="alert">
        {{errorRegister}}
    </div>
{{/if}}

<form action="/auth/register" method="post" novalidate>
    <div class="input-field">
        <input id="name" name="name" type="text" class="validate" required>
        <label for="name">Имя</label>
        <span class="helper-text" data-error="Введите Ваше имя"></span>
    </div>
    <div class="input-field">
        <input id="remail" name="email" type="text" class="validate" required>
        <label for="remail">e-mail</label>
        <span class="helper-text" data-error="Введите Ваш e-mail"></span>
    </div>

    <div class="input-field">
        <input id="rpassword" name="password" type="password" class="validate" required>
        <label for="rpassword">Пароль</label>
        <span class="helper-text" data-error="Введите Ваш пароль"></span>
    </div>

    <div class="input-field">
        <input id="rpassword2" name="confirmPassword" type="password" class="validate" required>
        <label for="rpassword2">Повторите пароль</label>
        <span class="helper-text" data-error="Введите Ваш пароль еще раз"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary">Зарегистрироваться</button>
</form>