{{> head }}
<body>

{{> navbar}}

<div class="container">
    <h1>{{course.title}}</h1>
    <div class="container-info">
        <img src="{{course.imageUrl}}" alt="{{course.title}}">
        <p class="price big">{{course.price}}</p>
    </div>
</div>

{{> footer  }}
</body>