<h1>Добавить курс</h1>

<form action="/courses/add" method="post">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название курса"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required>
        <label for="price">Цена курса</label>
        <span class="helper-text" data-error="Введите цену курса"></span>
    </div>

    <div class="input-field">
        <input id="img" name="imageUrl" type="text" class="validate" required>
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите URL картинки"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary">Добавить курс</button>
</form>