<div>
    <h1>Корзина</h1>

    {{#if courses.length}}
        <div>
            <table>
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Действия</th>
                </tr>
                </thead>

                <tbody>
                    {{#each courses}}
                    <tr>
                        <td>
                            {{title}}
                        </td>

                        <td class="priceCourse">
                            {{price}}
                        </td>

                        <td>
                            {{count}}
                        </td>

                        <td>
                            <button class="btn btn-small js-remove" data-id="{{_id}}" data-csrf="{{@root.csrf}}">
                                удалить
                            </button>
                        </td>
                    </tr>
                {{/each}}
                    </tbody>
            </table>


            <div>
                <span>Общая стоимость: </span> <span class="totalPrice">{{total}}</span>
            </div>

            <form action="/orders" method="post">
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <button class="btn">
                    Оформить заказ
                </button>
            </form>
        </div>
    {{else}}
        <div>Корзина пуста</div>
    {{/if}}
</div>