<h1>Курсы</h1>

{{#if courses.length}}
    <div class="flex-container">
        {{#each courses}}
                <div class="card">
                    <div class="card-image">
                        <img src={{imageUrl}} alt="{{title}}">
                        <span class="card-title">{{title}}</span>
                    </div>
                    <div class="card-content">
                        <p class="price">{{price}}</p>
                    </div>
                    <div class="card-action">
                        <a href="/courses/{{_id}}">Подробная информация</a>
                        {{#if @root.isAuth}}
                            <a href="/courses/{{_id}}/edit">Редактировать</a>
                            <form action="/cart/add" method="POST">
                                <button class="btn btn-small">добавить в корзину</button>
                                <input type="hidden" name="id" value="{{_id}}">
                                <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                            </form>
                        {{/if}}
                    </div>
                </div>
        {{/each}}
    </div>
{{else}}
    <h2>Курсов пока нет</h2>
{{/if}}
