<h1>{{title}}</h1>

<form action="/courses/edit" method="post">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required value="{{course.title}}">
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название курса"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required value="{{course.price}}">
        <label for="price">Цена курса</label>
        <span class="helper-text" data-error="Введите цену курса"></span>
    </div>

    <div class="input-field">
        <input id="img" name="imageUrl" type="text" class="validate" required value="{{course.imageUrl}}">
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите URL картинки"></span>
    </div>

    <input type="hidden" name="id" value="{{course._id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary">Редактировать курс</button>
</form>

<form action="/courses/delete" method="post" class="form-delete">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" value="{{course._id}}" name="id">
    <button class="btn red">Удалить курс</button>
</form>