<div class="wrap-orders">
    <h1>Заказы</h1>
    {{#if orders.length}}
        <div>
            {{#each orders}}
                <div class="order-card">
                    <div>Номер заказа: {{_id}}</div>
                    <div>Дата заказа: <span class="date-order">{{date}}</span></div>
                    <div>Имя заказчика: {{user.name}}</div>
                    <div>Почта заказчика: {{user.userId.email}}</div>

                    <h2>Содержимое заказа: </h2>
                    <table>
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Цена</th>
                            <th>Количество</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each courses}}
                            <tr>
                                <td>{{course.title}}</td>
                                <td>{{course.price}}</td>
                                <td>{{count}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>

                    <h4>Общая сумма заказа: <span class="price">{{price}}</span></h4>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div>Вы не сделали ни одного заказа!</div>
    {{/if}}
</div>
