<h1>Ваш профиль</h1>

<div class="row">
    <div class="col s6">
        {{#if user.avatarUrl}}
            <img class="avatar-img"
                 src="/{{user.avatarUrl}}"
                 >
        {{else}}
            <span>Аватара нет</span>
        {{/if}}
    </div>

    <div class="col s6">

        <div>
            <span>Ваш email: <strong>{{user.email}}</strong></span>
        </div>

        <form action="/profile" method="post" enctype="multipart/form-data">
            <div class="input-field">
                <input id="name" name="name" type="text" class="validate" value="{{user.name}}" required>
                <label for="name">Ваше имя</label>
                <span class="helper-text" data-error="Введите Ваше имя"></span>
            </div>


            <div class="file-field input-field">
                <div class="btn">
                    <span>Аватар</span>
                    <input type="file" name="avatar">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button class="btn">Изменить</button>
        </form>
    </div>
</div>

