.nav-wrapper {
    padding: 0 2rem;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.column-flex {
    max-width: 300px;
    width: 100%;
    align-items: stretch;
}

.card:not(:last-of-type) {
    margin-right: 15px;
}

.container-info {
    width: 300px;
}

.card-image {
    height: 300px;
}

.container-info img {
    width: 100%;
    max-width: 100%;
}

.price.big {
    font-size: 20px;
}

.form-delete {
    margin-top: 10px;
}

.card-image {
    width: 100%;
}

.btn-small {
    margin-top:  20px;
}

.card {
    width: 33%;
}

.wrap-orders {
    padding: 20px;
}

.order-card {
    padding: 25px;
    border: 1px solid black;
    background: bisque;
}

.order-card:not(:last-of-type) {
    margin-bottom: 45px;
}

.login-wrap {
    margin-top: 25px;
}

.outer-wrap-login {
    display: block;
}

.flex-row {
    display: flex;
    flex-direction: column;
}

.inner-wrap-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.margin-bottom {
    margin-bottom: 25px;
}

.alert {
    text-align: center;
    padding: 5px 10px;
    background-color: rgba(255, 0, 0, .3);
    color: red;
    border-radius: 10px;
}

.avatar-img {
    width: 100%;
    max-width: 350px;
}