<div class="login-wrap">
    <div class="row flex-row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6">
                    <a class="active" href="#login">Войти</a>
                </li>
                <li class="tab col s6">
                    <a href="#registration">Регистрация</a>
                </li>
            </ul>
        </div>

        <div class="outer-wrap-login">
            <div id="login" class="col s6">
                {{> auth-form }}
            </div>
            <div id="registration" class="col s6">
                {{> register-form }}
            </div>
        </div>
    </div>

</div>
</div>