<div class="update-pass-wrap">

    <h2>Восстановить пароль</h2>

    <div class="row flex-row">
        <div class="outer-wrap-login">
            <div class="col s6">
                <form action="/auth/new-password" method="post">
                    <div class="input-field">
                        <input id="password" name="password" type="password" class="validate" required>
                        <label for="password">Новый пароль</label>
                        <span class="helper-text" data-error="Введите Ваш пароль"></span>
                    </div>

                    <input type="hidden" name="_csrf" value="{{csrf}}">
                    <input type="hidden" name="userId" value="{{userId}}">
                    <input type="hidden" name="token" value="{{token}}">

                    <button class="btn btn-primary">Сменить пароль</button>
                </form>
            </div>
        </div>
    </div>

</div>
</div>