<div class="reset-wrap">

    <h2>Сбросить пароль?</h2>

    {{#if error}}
        <div class="alert">
            {{error}}
        </div>
    {{/if}}

    <div class="row flex-row">
        <div class="outer-wrap-login">
            <div class="col s6">
                <form action="/auth/reset" method="post">
                    <div class="input-field">
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">E-mail</label>
                        <span class="helper-text" data-error="Введите Ваш E-mail"></span>
                    </div>

                    <input type="hidden" name="_csrf" value="{{csrf}}">

                    <button class="btn btn-primary">Сбросить пароль</button>
                </form>
            </div>
        </div>
    </div>

</div>
</div>